.trending_products .hoveredImages {
  position: relative;
  overflow: hidden;
}

.trending_products .hoveredImages img {
  transition: all 0.3s ease;
}
.trending_products .hoveredImages img:hover {
  transform: scale(1.01);
  transition: all 0.3s ease;
}
.trending_products .slick-dots li button::before {
  border: 2px solid green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: green;
}
.trending_products .slick-dots li button {
  color: green;
}
.trending_products .slick-dots li.slick-active button::before {
  border: 2px solid yellowgreen;
  color: green;
}
.trending_products .slick-dots {
  position: absolute;
  bottom: -50px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
